.flex.min-h-full.flex-col.justify-center.px-6.py-12.lg:px-8.shadow-md.mt-20.lg:mx-80.md:mx-40.mx-10
  .sm:mx-auto.sm:w-full.sm:max-w-sm
    =image_tag "https://tailwindui.com/img/logos/mark.svg?color=blue&shade=600", alt: "inventory", class: "mx-auto h-10 w-auto"
    %h2.mt-10.text-center.text-2xl.font-bold.leading-9.tracking-tight.text-gray-900 Create your account
  .mt-10.sm:mx-auto.sm:w-full.sm:max-w-sm
    = form_with url: sign_up_path, class: "space-y-6" do |form|
      - if @user.errors.any?
        %div{:style => "color: red"}
          %h2
            = pluralize(@user.errors.count, "error")
            prohibited this user from being saved:
          %ul
            - @user.errors.each do |error|
              %li= error.full_message
      %div
        = form.label :full_name, class: "block text-sm font-medium leading-6 text-gray-900"
        .mt-2
          = form.text_field :full_name, value: @user.fullname, required: true, class: "block w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
      %div
        = form.label :email, class: "block text-sm font-medium leading-6 text-gray-900"
        .mt-2
        = form.email_field :email, value: @user.email, required: true, autocomplete: "email", class: "block w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
      %div
        = form.label :password, class: "block text-sm font-medium leading-6 text-gray-900"
        .mt-2
          = form.password_field :password, required: true, class: "block w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
        %div 8 characters minimum.
      %div
        = form.label :password_confirmation, class: "block text-sm font-medium leading-6 text-gray-900"
        .mt-2
          = form.password_field :password_confirmation, required: true, class: "block w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
      %div
        = form.submit "Sign up", class: "flex w-full justify-center bg-blue-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
      %p.mt-10.text-center.text-sm.text-gray-500
        Already a member?
      .mt-10
        = link_to "Sign in", sign_in_path, class: "flex w-full justify-center bg-blue-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 no-underline"


