!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Inventory
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    = csrf_meta_tags
    = stylesheet_link_tag "tailwind", "inter-font", data: { turbo_track: "reload" }
    = stylesheet_link_tag "actiontext", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body
    = render partial: "layouts/nav_bar"
    .mx-auto.prose.max-w-7xl.px-2.sm:px-6.lg:px-8
      = yield
    .flash#flash
      = render "layouts/notif"

  %footer
    .hidden.border-rose-500.text-rose-500
